<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=@recipe.name%></h1>
    <ul>
      <% @recipe.ingredients.split(" ").each do |i| %>
      <li><%= i.gsub(/[,]/," ") %> </li>
      <% end %>
    </ul>
  </body>
</html>
