<form action="/recipes" method="post">
<li> Name:  <input type="text" id="name" name="name"></li>
  <li> Ingrediets: <input type="text" id="ingredients" name="ingredients"> </li>
  <li> Cook Time: <input type="integer" id="cook_time" name="cook_time"> </li>
  <input type="submit" name="submit">

</form>
