<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/recipes" method="post">
      Recipe name: <input type="text" name="name">
      Ingredients: <input type="text" name="ingredients">
      Cooking time:<input type="text" name="cook_time">
      <input type="submit">
    </form>
  </body>
</html>
